# .NET
bin/
obj/
*.user
*.suo
.vs/

# Secrets
.env

# Build results
[Dd]ebug/
[Rr]elease/

# NuGet
*.nupkg
packages/

# Migrations (опционально, обычно коммитят)
# Migrations/

# OS
.DS_Store
Thumbs.db

# Rider / VS Code
.idea/
.vscode/